{% extends 'base.html.twig' %}
{% block body %}

{# display navigation #}
{{ knp_pagination_render(pagination) }}
<table class="table">
    <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th scope="col">{{ knp_pagination_sortable(pagination, '#', 'article.id') }}</th>
            <th scope="col">
                {{ knp_pagination_sortable(pagination, 'title', 'article.titre') }}
            </th>
            <th scope="col">
                {{ knp_pagination_sortable(pagination, 'Release', 'article.date') }}
            </th>
        </tr>
    </thead>
    <tbody>
    {# table body #}
    {% for article in pagination %}
            <tr class="color">
                <td scope="row">{{ article.id }}</td>
                <td><a href="{{path('show_article',{'id':article.id})}}" class="">{{ article.titre }}</a></td>
                <td>{{ article.date | date('Y-m-d') }}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}